/** ------------- جديد ------------- **/

::-webkit-scrollbar {
  width: 70px;
 
}
::-webkit-scrollbar-thumb {
  background: #e5ff00;
  border-left:2px solid #fff;
}

::-webkit-scrollbar-thumb:hover {
  background: #000; 
}


.rtl {
    direction: rtl;
 /* تعيين الاتجاه من اليمين لليسار */
    text-align: right;
 /* لضبط النصوص والمحاذاة */
}     
