/* -------------- Browser Style -------------- */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #02aa94;
    border-left: 2px solid #fff;
}

::-webkit-scrollbar-thumb:hover {
    background: #188bf6;
}

/* تغيير اللون عند تحديد تظليل النص */

::-moz-selection {
  color: #fff;
  background: #02aa94;
}

::selection {
  color: #fff; 
  background: #02aa94;
}

/* -------------- Classes -------------- */

.rtl {
        direction: rtl;
        text-align: right;
    }

/* -------------- Disable Copy and Right Click -------------- */

body {
    user-select: none;
 /* For modern browsers */
    -webkit-user-select: none;
 /* For Safari */
    -moz-user-select: none;
 /* For Firefox */
    -ms-user-select: none;
 /* For Internet Explorer/Edge */
}

/* -------------- Mobile Navigation -------------- */

.nav-menu-wrapper.reverse .cart-nav-wrapper {
    margin-top: 12px!important;
}



/* اذا بدي اعمل توسيط للقائمة واعملها تثبيت في الاعلى */
/* .CenterFixedMenu {
    justify-self: anchor-center !important;
} */


